<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta http-equiv="content-language" content="zh-TW"/>

<!-- Site Properities -->
<title>awoo System</title>

<link rel="stylesheet" type="text/css" href="semantic_ui/css/semantic.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" href="css/layout.css">

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
<script src="semantic_ui/javascript/semantic.js"></script>
<script src="js/jquery.stickyheader.js"></script>
<script src="js/script.js"></script>
</head>

<body>

<div class="ui red menu">
  <a id="menu-btn" class="item"><i class="reorder icon"></i></a>
  <div class="right menu">
    <div class="item">admin, </div>
      <a class="item"><i class="setting icon"></i></a>
    </div>
</div>

<div class="ui large vertical menu red sidebar">
<div class="header item"><i class="dashboard icon"></i>客戶維護</div>
<div class="item">
  <div class="menu">
    <a class="item">客戶清單</a>
    <a class="item">合約清單</a>
  </div>
</div>
<a class="item"><i class="doctor icon"></i>網站健康檢查</a>
<div class="header item"><i class="wrench icon"></i>SEO Tool</div>
<div class="item">
  <div class="menu">
    <a class="item">專案設定</a>
    <a class="item">檢查項目分類</a>
    <a class="item">檢查項目清單</a>
  </div>
</div>

<a class="item"><i class="list icon"></i> 關鍵字清單</a>
<a class="item"><i class="rocket icon"></i> 搜爬機器狀態</a>
<a class="item"><i class="circle blank icon"></i> 搜爬排名數量分析</a>
</div>

<table class="overflow-y">
          <thead>
            <tr>
              <th>Sample ID</th>
              <th>Reading #1</th>
              <th>Reading #2</th>
              <th>Reading #3</th>
              <th>Reading #4</th>
              <th>Reading #5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Sample #1</th>
              <td>52</td>
              <td>40</td>
              <td>9</td>
              <td>47</td>
              <td>31</td>
            </tr>
            <tr>
              <th>Sample #2</th>
              <td>27</td>
              <td>55</td>
              <td>97</td>
              <td>52</td>
              <td>19</td>
            </tr>
            <tr>
              <th>Sample #3</th>
              <td>36</td>
              <td>68</td>
              <td>89</td>
              <td>78</td>
              <td>60</td>
            </tr>
            <tr>
              <th>Sample #4</th>
              <td>95</td>
              <td>46</td>
              <td>62</td>
              <td>24</td>
              <td>14</td>
            </tr>
            <tr>
              <th>Sample #5</th>
              <td>19</td>
              <td>66</td>
              <td>31</td>
              <td>99</td>
              <td>77</td>
            </tr>
            <tr>
              <th>Sample #6</th>
              <td>57</td>
              <td>15</td>
              <td>57</td>
              <td>9</td>
              <td>11</td>
            </tr>
            <tr>
              <th>Sample #7</th>
              <td>69</td>
              <td>46</td>
              <td>16</td>
              <td>33</td>
              <td>85</td>
            </tr>
            <tr>
              <th>Sample #8</th>
              <td>18</td>
              <td>93</td>
              <td>84</td>
              <td>57</td>
              <td>35</td>
            </tr>
            <tr>
              <th>Sample #9</th>
              <td>92</td>
              <td>10</td>
              <td>69</td>
              <td>35</td>
              <td>0</td>
            </tr>
            <tr>
              <th>Sample #10</th>
              <td>4</td>
              <td>87</td>
              <td>51</td>
              <td>22</td>
              <td>19</td>
            </tr>
            <tr>
              <th>Sample #11</th>
              <td>24</td>
              <td>23</td>
              <td>85</td>
              <td>34</td>
              <td>83</td>
            </tr>
            <tr>
              <th>Sample #12</th>
              <td>92</td>
              <td>6</td>
              <td>67</td>
              <td>65</td>
              <td>12</td>
            </tr>
            <tr>
              <th>Sample #13</th>
              <td>10</td>
              <td>77</td>
              <td>64</td>
              <td>51</td>
              <td>63</td>
            </tr>
            <tr>
              <th>Sample #14</th>
              <td>65</td>
              <td>85</td>
              <td>42</td>
              <td>90</td>
              <td>94</td>
            </tr>
            <tr>
              <th>Sample #15</th>
              <td>34</td>
              <td>48</td>
              <td>38</td>
              <td>6</td>
              <td>21</td>
            </tr>
            <tr>
              <th>Sample #16</th>
              <td>26</td>
              <td>72</td>
              <td>47</td>
              <td>27</td>
              <td>43</td>
            </tr>
            <tr>
              <th>Sample #17</th>
              <td>79</td>
              <td>86</td>
              <td>85</td>
              <td>10</td>
              <td>10</td>
            </tr>
            <tr>
              <th>Sample #18</th>
              <td>39</td>
              <td>68</td>
              <td>91</td>
              <td>71</td>
              <td>74</td>
            </tr>
            <tr>
              <th>Sample #19</th>
              <td>70</td>
              <td>4</td>
              <td>59</td>
              <td>82</td>
              <td>10</td>
            </tr>
            <tr>
              <th>Sample #20</th>
              <td>63</td>
              <td>16</td>
              <td>62</td>
              <td>28</td>
              <td>13</td>
            </tr>
          </tbody>
        </table>




</body>
</html>